.create-account {
    border: 2px solid #192a56;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    border-radius: 15px;
    margin-top: 2%;
}

.create-account .input-container {
    margin-bottom: 2%;
}

.text-field {
    width: 24.5vw;
}